.header {
  width: calc(100% - 250px);
  margin-left: 250px;
  padding-right: 50px;
  font-family: $primary-font;

  h1 {
    font-weight: bold;
  }

  .line {
    width: 80px;
    margin-bottom: 20px;
    color: $aqua;
    border-bottom: 1px solid;
  }
}

.posts {
  margin-left: 250px;
  width: calc(100% - 250px);

  .post-content {
    height: 450px;
    width: 350px;
    margin: 20px auto;
    background-color: $background;

    &__image {
      height: 200px;
      width: 350px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      img {
        width: 300px;
        height: 200px;
      }
    }

    &__opinion {
      margin-top: -20px;
      margin-right: 20px;
      position: relative;
      color: $white;
      float: right;
      display: flex;

      .fa {
        margin-left: 20px;
      }
    }

    &__text {
      height: 215px;
      padding: 40px 40px 0 40px;
      color: $white;
      font-family: $post-text;
      font-size: 21px;
      overflow: hidden;
    }

    &__hover {
      height: 0;
      width: 350px;
      text-align: center;
      color: $post-hover-text;
      background-color: rgba($post-hover, 0.9);
      position: absolute;
      bottom: 20px;
      opacity: 0;
      transition: height 0.8s, opacity 0.8s;

      .title {
        height: 200px;
        width: 350px;
        margin-top: -20px;
        font-family: $post-text;
        font-weight: 400;
        display: none;
        vertical-align: middle;
      }

      .date {
        margin-top: -20px;
        margin-right: 20px;
        float: right;
        font-style: italic;
      }
    }

    &--next {
      text-align: center;
      color: $post-hover-text;
      background-color: $post-hover;
      display: table-cell;
      vertical-align: middle;
      cursor: default;

      .fa-5x {
        font-size: 10em;
      }
    }

    &:hover {
      .post-content__opinion {
        display: none;
      }
      .post-content__hover {
        height: 450px;
        opacity: 1;
      }

      .title {
        display: block;

        h2 {
          line-height: 200px;
        }
      }

      .read-more {
        display: table-cell;
      }
    }

    .read-more {
      height: 250px;
      width: 350px;
      display: none;
      vertical-align: middle;
      cursor: pointer;

      &__btn {
        height: auto;
        width: 130px;
        margin: auto;
        padding: 10px 20px;
        text-align: center;
        background-color: $aqua;
        font-family: $primary-font;
        font-weight: 900;
        font-size: 20px;
        border: 2px solid $aqua;
        outline: none;
      }
    }
  }
}

.next {
  margin-top: 20px;
}

.my-opinion {
  color: $aqua;
}
