// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.container {
  width: 100%;
  padding: 0;
}

.posts {
  padding-right: 50px;
  margin-left: 250px;
  width: calc(100% - 250px);

  .post-content {
    height: 450px;
    width: 350px;
    background-color: $background-navbar;
    margin: 20px auto;

    &__image {
      height: 200px;
      width: 350px;

      img {
        width: 300px;
        height: 200px;
      }
    }

    &__opinion {
      margin-top: -20px;
      float: right;
      margin-right: 20px;
      color: $white;
      position: relative;

      fa {
        margin-left: 20px;
      }
    }

    &__text {
      color: $white;
      height: 215px;
      padding: 40px 40px 0 40px;
      font-family: $welcome-page-text;
      font-size: 21px;
      overflow: hidden;
    }

    &__hover {
      width: 350px;
      height: 0;
      position: absolute;
      background-color: rgba($post-hover, 0.9);
      text-align: center;
      color: $post-hover-text;
      opacity: 0;
      bottom: 20px;
      transition: height 0.8s, opacity 0.8s;

      .title {
        font-family: $welcome-page-text;
        height: 200px;
        width: 350px;
        margin-top: -20px;
        vertical-align: middle;
        display: none;
        font-weight: 400;
      }

      .date {
        float: right;
        margin-right: 20px;
        margin-top: -20px;
        font-style: italic;
      }
    }

    &--next {
      background-color: $post-hover;
      color: $post-hover-text;
      text-align: center;
      display: table-cell;
      vertical-align: middle;

      .fa-5x {
        font-size: 10em;
      }
    }

    &:hover {
      .post-content__opinion{
        display: none;
      }
      .post-content__hover {
        height: 450px;
        opacity: 1;
      }

      .title,
      .read-more {
        display: table-cell;
      }
    }

    .read-more {
      height: 250px;
      vertical-align: middle;
      width: 350px;
      cursor: pointer;
      display: none;

      &__btn {
        height: auto;
        border: 2px solid $aqua;
        font-family: $navbar-node;
        font-weight: 900;
        font-size: 20px;
        text-align: center;
        padding: 10px 20px;
        width: 130px;
        margin: auto;
        background-color: $aqua;
      }
    }
  }
}

.next {
  margin-top: 20px;
}

.favourite, .newest {
  padding-right: 50px;
  margin-left: 250px;
  width: calc(100% - 250px);
}

//.footer {
//  padding-top: 19px;
//  color: #777;
//  border-top: 1px solid #e5e5e5;
//}


