.navbar-left {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $main-color;
  overflow-y: scroll;
  z-index: 1;
  transition: width 2s ease-in-out;

  @media screen and (max-width: 480px) {
    display: none;
  }

  &--mobile {
    display: none;

    @media screen and (max-width: 480px) {
      display: block;
    }
  }

  &__nodes {
    width: 250px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    .node {
      width: 100%;
      padding: 10px 0 10px 50px;
      color: $white;
      font-size: 20px;
      font-family: $primary-font;
      cursor: pointer;
      outline: none;

      .fa {
        margin-right: 5px;
      }

      &--noclicable {
        cursor: default;

        &:hover {
          background-color: transparent !important;
        }
      }

      &:hover {
        background-color: $node-hover;
      }
    }
  }

  &__search {
    position: fixed;
    bottom: 0;

    i {
      margin-top: 20px;
      margin-left: 20px;
      line-height: 40px;
      position: absolute;
      color: $white;
    }

    input {
      width: 230px;
      margin: 20px 10px;
      padding: 5px 40px;
      color: $white;
      background-color: transparent;
      border-color: transparent;
      border-bottom: 1px solid $white;
      font-family: $primary-font;
      font-size: 20px;

      &:focus {
        outline: none;
        border-bottom: 1px solid $aqua;
      }
    }
  }

  &__filters {
    padding: 15px;

    .tags, .categories {
      margin: 5px;
      float: left;
      color: $white;
      font-size: 20px;
      font-family: $primary-font;
      outline: none;

      &__filter {
        min-width: 40px;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
        border: 1px aquamarine solid;
        display: inline-block;
        cursor: pointer;

        &--selected {
          background-color: aquamarine;
          color: black;
        }

        &:hover {
          border-color: darkgrey;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  .hamburger {
    height: 25px;
    margin-top: 35px;
    outline: none;

    &--mobile {
      display: none;
      position: absolute;

      @media screen and (max-width: 400px) {
        display: block;
      }
    }

    .line {
      height: 2px;
      width: 40px;
      margin: 10px;
      background-color: $white;
      display: block;
      transition: all 0.3s ease-in-out;

      &--first {
        margin-top: 25px;
      }

      &--first-arrow {
        margin-top: 25px;
        top: 6px;
        transform: rotate(-45deg);
        position: relative;
      }

      &--middle-arrow {
        display: none;
      }

      &--last-arrow {
        margin-top: -6px;
        transform: rotate(45deg);
      }
    }

    &:hover{
      cursor: pointer;
    }
  }
}
