.hamburger {
  outline: none;
  margin: 25px 0;
  height: 25px;

  &--mobile {
    display: none;
    position: absolute;

    @media screen and (max-width: 400px) {
      display: block;
    }
  }

  .line {
    width: 40px;
    height: 2px;
    background-color: $white;
    display: block;
    margin: 10px;
    transition: all 0.3s ease-in-out;

    &--first {
      margin-top: 25px;

      &--arrow {
        transform: rotate(-45deg);
        width: 20px;
        position: relative;
        top: 5px;
        margin-left: 6px;
      }
    }

    &--last {
      &--arrow {
        transform: rotate(45deg);
        width: 20px;
        margin-top: -5px;
        margin-left: 6px;
      }
    }
  }

  &:hover{
    cursor: pointer;
  }
}

.navbar-left {
  position: fixed;
  background-color: $background;
  height: 100vh;
  top: 0;
  left: 0;
  width: 250px;
  overflow-y: scroll;
  z-index: 1;
  transition: width 2s ease-in-out;

  @media screen and (max-width: 400px) {
    display: none;
  }

  &--mobile {
    display: none;

    @media screen and (max-width: 400px) {
      display: block;
    }
  }

  &__filters {
    padding: 15px;
  }

  &__nodes {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 -15px;

    &--close {
      width: 0;
      transition: width 2s ease-in-out;
    }

    &--close {
      width: 250px;
      transition: width 2s ease-in-out;
    }

    .node {
      color: $white;
      font-size: 20px;
      padding: 10px 0 10px 50px;
      font-family: $primary-font;
      width: 100%;
      cursor: pointer;
      outline: none;

      .fa {
        margin-right: 5px;
      }

      &--noclicable {
        cursor: default;
      }

      &:hover {
        background-color: $node-hover;
      }
    }
  }

  .search {
    position: fixed;
    bottom: 0;

    i {
      margin-top: 20px;
      margin-left: 20px;
      line-height: 40px;
      position: absolute;
      color: $white;
    }

    input {
      width: 230px;
      margin: 20px 10px;
      padding: 5px 40px;
      color: $white;
      background-color: transparent;
      border-color: transparent;
      border-bottom: 1px solid $white;
      font-family: $primary-font;
      font-size: 20px;

      &:focus {
        outline: none;
        border-bottom: 1px solid $aqua;
      }
    }
  }

  .tags, .categories {
    float: left;
    margin: 5px;
    color: $white;
    font-size: 20px;
    font-family: $primary-font;
    outline: none;

    &__filter {
      border-radius: 5px;
      border: 1px aquamarine solid;
      text-align: center;
      display: inline-block;
      min-width: 40px;
      padding: 5px;
      cursor: pointer;

      &--selected {
        background-color: aquamarine;
        color: black;
      }

      &:hover {
        border-color: darkgrey;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
