$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

/*  IMAGES  */
$welcome-image: url("../images/background.jpg");

/*  COLORS  */
$background-navbar: #202223;
$welcome-page: #ddd;
$node-hover: #333333;
$post-hover: #edefef;
$post-hover-text: #535353;
$white: white;
$black: black;
$aqua: aquamarine;

/*  FONTS  */
$welcome-page-text: 'Josefin Sans', sans-serif;
$welcome-page-blog: 'Julius Sans One', sans-serif;
$navbar-node: 'Alegreya Sans SC', sans-serif;
