@keyframes read-more {
  0%   {margin-top: 10%;}
  25%  {margin-top: 8%;}
  50%  {margin-top: 9%;}
  75%  {margin-top: 8.5%;}
  100% {margin-top: 10%;}
}

.welcome-page {
  height: 100vh;
  color: $welcome-page;
  text-align: center;
  font-weight: 100;
  background-image: $welcome-image;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;

  &__text {
    margin-left: 250px;
    position: relative;
    top: 40%;
    font-family: $welcome-page-text;
    transform: translateY(-50%);
  }

  &__line {
    width: 80px;
    margin: auto;
    border-bottom: 1px solid $aqua;
  }

  h1 {
    font-size: 60px;
  }

  h3 {
    margin: 0 auto 10px;
    font-size: 25px;
    font-family: $welcome-page-blog;
    font-style: normal;
    font-weight: 700;
  }

  p {
    margin-left: 45%;
    color: $aqua;
    font-size: 20px;
  }

  &__read-more {
    margin-top: 10%;
    position: fixed;
    left: 45.5%;
    border-radius: 5px;
    cursor: pointer;

    .fa {
      height: 100px;
      width: 100px;
    }

    &:hover {
      animation-name: read-more;
      animation-duration: 0.4s;
      animation-iteration-count: 1;
    }
  }
}
