<div class="navbar-left">
  <div class="hamburger" ng-click="goBack()" ng-if="filters || article">
    <span class="line line--first" ng-class="{'line--first-arrow': filters || article}"></span>
    <span class="line" ng-class="{'line--middle-arrow': filters || article}"></span>
    <span class="line" ng-class="{'line--last-arrow': filters || article}"></span>
  </div>
  <div class="navbar-left__nodes" ng-if="!filters && !article">
    <div class="node" ng-click="toggleFilterPosts()">
      <i class="fa fa-filter" aria-hidden="true"></i>
      <span>FILTER POSTS</span>
    </div>
    <div class="node" ng-click="goToGithub()">
      <i class="fa fa-user" aria-hidden="true"></i>
      <span>ABOUT ME</span>
    </div>
    <div class="node node--noclicable">
      <i class="fa fa-sign-in" aria-hidden="true"></i>
      <span>LOG IN</span>
    </div>
  </div>
  <div class="navbar-left__search" ng-if="!filters && !article">
    <i class="fa fa-search" aria-hidden="true"></i>
    <input class="" ng-model="text" ng-change="filterByText(text)" type="text"/>
  </div>
  <div class="navbar-left__filters" ng-if="filters">
    <div class="tags" ng-repeat="tag in tags" ng-if="filters">
      <div class="tags__filter" ng-class="{'tags__filter--selected': tag.selected}" ng-model="tag" ng-click="filterPosts(tag)">
        {{tag.name}}
      </div>
    </div>
    <div class="categories" ng-repeat="category in categories" ng-if="filters">
      <div class="categories__filter" ng-class="{'categories__filter--selected': category.selected}" ng-model="category" ng-click="filterPosts(category)">
        {{category.name}}
      </div>
    </div>
  </div>
  <div class="navbar-left__nodes" ng-if="article">
    <div class="node node--noclicable">
      <i class="fa fa-calendar-times-o" aria-hidden="true"></i>
      <span>{{post.created | amDateFormat:'DD MMM YYYY'}}</span>
    </div>
    <div class="node node--noclicable">
      <i class="fa fa-heart-o" aria-hidden="true"></i>
      <span>{{displayNumber(post.likes)}}</span>
    </div>
    <div class="node node--noclicable">
      <i class="fa fa-comment-o" aria-hidden="true"></i>
      <span>{{displayNumber(post.comments)}}</span>
    </div>
    <div class="node node--noclicable">
      <i class="fa fa-eye" aria-hidden="true"></i>
      <span>1289</span>
    </div>
    <div class="node node--noclicable">
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <span>12</span>
    </div>
  </div>
</div>
