<div class="container">
  <ng-include src="'views/navbar.html'"></ng-include>
    <div class="welcome-page">
      <div class="welcome-page__text">
        <h3>Code Blog</h3>
        <div class="welcome-page__line"></div>
        <h1>Programming is a social activity.</h1>
        <p>~ Robert C. Martin</p>
        <div class="welcome-page__read-more">
          <i class="fa fa-angle-down fa-3x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <ng-include src="'views/main.html'"></ng-include>
</div>
